
/* GLOBAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background: #f8f9fb;
}

/* HEADER */
.class6{
    width: 100%;
    background: #ffffff;
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 6px rgba(0,0,0,0.07);
}

.class1.class2{
    width: 90%;
    max-width: 1250px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* LOGO */
.class3{
    font-size: 22px;
    font-weight: 600;
}

/* NAVIGATION */
.class4{
    display: flex;
    gap: 35px;
}

.class4 a{
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 15px
}
   



/* USER BUTTON */
.class5{
    padding: 8px 20px;
    border-radius: 20px;
    background: #e1f1ff;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    color: blue;
    
}



/* HERO SECTION */
.class7{
    padding: 100px 0 50px;
    background: white;
}

.class1.class8{
    width: 90%;
    max-width: 1250px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.class9 h1{
    font-size: 45px;
    line-height: 1.2;
    color: #333;
}

.class10{
    color: blue;
}

.class11{
    margin-top: 18px;
    padding: 12px 28px;
    background: blue;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.img1{
    width: 400px;
}


/* YOUR STATS SECTION */
.class13{
    background: darkblue;
    padding: 35px 0;
    margin-top: 20px;
}

.class14{
    width: 90%;
    max-width: 1250px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    color: white;
}

.class15 h3{
    font-size: 28px;
    margin-bottom: 8px;
}



.class16{
    padding: 50px 0;
}

.class17{
    width: 90%;
    max-width: 1250px;
    margin: auto;
    display: flex;
    gap: 50px;
}

.class18{
    flex: 1;
}


.item{
    background: #f5f7fa;
    padding: 12px;
    margin-bottom: 12px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}

.add-btn{
    background: #1e90ff;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
}



.newsletter{
    margin-top: 60px;
    padding: 40px;
    background: #1e90ff;
    color: white;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.news-right input{
    padding: 10px 12px;
    border-radius: 6px;
    border: none;
    width: 220px;
    margin-right: 10px;
}

.news-right button{
    padding: 10px 18px;
    background: white;
    color: #1e90ff;
    border-radius: 6px;
    border: none;
}


.footer{
    margin-top: 60px;
    background: #111;
    color: white;
    padding: 50px 80px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.footer-col h3{
    margin-bottom: 10px;
}




.services, #booking-section .class18 {
    background: #fff;
    padding: 25px;
    border-radius: 18px;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.06);
    width: 100%;
}

.services h2 {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 600;
}


.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 0;
    border-bottom: 1px solid #eee;
    font-size: 18px;
    color: #333;
}

.item:last-child {
    border-bottom: none;
}


.add-btn {
    background: blue;
    border: none;
    padding: 8px 18px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
  
}




#booking-section h2 {
    font-size: 22px;
    font-weight: 600;
    margin: 20px 0 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.06);
}

table th {
    background: #f7f9ff;
    padding: 12px;
    font-weight: 600;
    font-size: 14px;
}

table td {
    text-align: center;
    padding: 12px;
    font-size: 15px;
    border-bottom: 1px solid #eee;
}

table tr:last-child td {
    border-bottom: none;
}


#total-amount {
    font-weight: 700;
    font-size: 22px;
    color: #333;
}

#full-name,
#email,
#phone {
    width: 100%;
    padding: 12px 15px;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid #ddd;
    font-size: 15px;
}

.class28 {
    display: flex;
    gap: 10px;
}

.class28 input {
    flex: 1;
}


#book-btn {
    width: 100%;
    background: #6366f1;
    color: #fff;
    padding: 14px 0;
    border: none;
    border-radius: 12px;
    font-size: 17px;
    cursor: pointer;
    margin-top: 10px;
   
}



#msg {
    margin-top: 15px;
    text-align: center;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #f6f6f6;
}


.servicesss {
    display: flex;
    justify-content: space-between;
    padding: 60px 8%;
    background: #fff;
}

.servicess-card {
    width: 22%;
    text-align: center;
}

.servicess-card img {
    width: 60px;
    margin-bottom: 15px;
}

.servicess-card h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.servicess-card p {
    font-size: 13px;
    color: #555;
    line-height: 1.4;
}



.newsletter {
    margin-top: 30px;
    background: #34a8ff;
    padding: 40px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.news-left h2 {
    font-size: 30px;
    font-weight: 600;
}

.news-right {
    display: flex;
    gap: 10px;
}

.news-right input {
    padding: 12px 15px;
    border: none;
    border-radius: 4px;
    width: 200px;
}

.news-right button {
    padding: 12px 20px;
    background: #fff;
    border: none;
    border-radius: 4px;
    color: #34a8ff;
    font-weight: 600;
    cursor: pointer;
}



.footer {
    display: flex;
    justify-content: space-between;
    padding: 50px 8%;
    background: #fff;
}

.footer-col {
    width: 23%;
}

.footer-col h3 {
    margin-bottom: 10px;
}

.footer-col p {
    color: #444;
    font-size: 14px;
    margin-bottom: 6px;
}

.icons span {
    font-size: 22px;
    margin-right: 10px;
    cursor: pointer;
}

.footer-col h3 {
    color: black;
}

.footer .icons {
    display: flex;
    gap: 25px;   
    margin-top: 12px;
}

.footer .icons a {
    color: black;
    font-size: 26px;
    transition: 0.3s;
}

.footer .icons a:hover {
    color: #1e90ff;
}

*{
    color: #444;
}

.class100{
    color: #fff;
}

html {
    scroll-behavior: smooth;
}
